/* Colors */
$window-bg-color: #f6f6f6;
$window-bg-image: 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==';
$window-bg-repeat: no-repeat;

$header-bg-color: #e0e0e0;
$header-bg-image: 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==';
$header-bg-position: center;

$question-bg-color: #ffffff;
$question-border-color: #a8a8a8;
$question-font-color: #000000;
$question-instruction-color: #a8a8a8;

$control-primary-color: #eeeeee;
$control-secondary-color: $question-border-color;
$control-active-color: #42bdd1;
$control-head-color: #bbbbbb;
$control-head-font-color: #ffffff;
$answer-button-text-input-color: #6bcbdb;

$error-color: #fcc;
$error-text-color: #f00;
$error-border-color: #f00;

$error-tost-bg-color: #f00;
$error-tost-font-color: #ffffff;

$back-button-border-color: #a8a8a8;
$back-button-bg-color: #fff;
$back-button-font-color: #a8a8a8;

$next-button-border-color: #42bdd1;
$next-button-bg-color: #42bdd1;
$next-button-font-color: #fff;

$progress-color: #d5d5d5;
$progress-indicator-color: #42bdd1;

/* Layout */
$min-width: 320px;
$max-width: 1280px;

$delimiter-mobile: 480px;
$delimiter-tablet: 1024px;

$desktop-layout-delimiter: 640px;

$padding-mobile: 10px;
$padding-tablet: 16px;
$padding-desktop: 24px;

$answer-group-border-width: 4px;

$font-size: 16px;
$control-size: 1.8em;
$border-radius: 0px;