<Variables>
    <Variable>$window-bg-color</Variable>
    <Variable>$window-bg-image</Variable>
    <Variable>$window-bg-repeat</Variable>
    <Variable>$header-bg-color</Variable>
    <Variable>$header-bg-image</Variable>
    <Variable>$header-bg-position</Variable>
    <Variable>$question-bg-color</Variable>
    <Variable>$question-border-color</Variable>
    <Variable>$question-font-color</Variable>
    <Variable>$question-instruction-color</Variable>
    <Variable>$control-active-color</Variable>
    <Variable>$control-primary-color</Variable>
    <Variable>$control-secondary-color</Variable>
    <Variable>$answer-button-text-input-color</Variable>
    <Variable>$control-head-color</Variable>
    <Variable>$control-head-font-color</Variable>
    <Variable>$back-button-border-color</Variable>
    <Variable>$back-button-bg-color</Variable>
    <Variable>$back-button-font-color</Variable>
    <Variable>$next-button-border-color</Variable>
    <Variable>$next-button-bg-color</Variable>
    <Variable>$next-button-font-color</Variable>
    <Variable>$progress-color</Variable>
    <Variable>$progress-indicator-color</Variable>
</Variables>
