.cf-ranking {
  max-width: 30em;
  &__answer {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cf-ranking-answer {
  display: flex;
  align-content: stretch;
  background-color: $control-primary-color;
  cursor: pointer;

  &__rank {
    position: relative;
    flex: 0 0 auto;
    width: 3em;
    min-height: 3em;
    margin: 2px 6px 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $question-bg-color;
    color: $control-secondary-color;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 8px;
      height: 8px;
      background-color: $question-bg-color;
      transform: translate(50%, -50%) rotate(45deg);
    }
  }

  &__content {
    flex: 1 1 auto;
    min-width: 0;
    padding: 0 1em;
    display: flex;
    align-items: center;
  }

  &__text {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__other-input {
    width: 15em;
    max-width: 90%;
    font-size: inherit;
    text-overflow: ellipsis;

    cursor: pointer;
  }

  //&__other-edit {
  //  flex: 0 0 auto;
  //  width: 3em;
  //  height: 3em;
  //  margin-right: -1em;
  //
  //  background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M13,0.9c-1.2-1.2-3-1.2-4.2,0L8.4,1.3l4.2,4.2L13,5.1C14.2,3.9,14.2,2,13,0.9z" fill="#{$control-secondary-color}"/><polygon points="0,9.7 0,13.9 4.2,13.9 11.6,6.5 7.4,2.3" fill="#{$control-secondary-color}"/></svg>');
  //  background-position: center;
  //  background-repeat: no-repeat;
  //  background-size: 1em;
  //}

  &--selected {
    background-color: $control-active-color;

    .cf-ranking-answer__rank {
      color: $control-active-color;
    }

    .cf-ranking-answer__text {
      color: $question-bg-color;
    }

    .cf-ranking-answer__other-input {
      color: $question-bg-color;
      background: $answer-button-text-input-color;
      border-bottom: 1px solid $question-bg-color;
    }

    //.cf-ranking-answer__other-edit {
    //  background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M13,0.9c-1.2-1.2-3-1.2-4.2,0L8.4,1.3l4.2,4.2L13,5.1C14.2,3.9,14.2,2,13,0.9z" fill="#{$question-bg-color}"/><polygon points="0,9.7 0,13.9 4.2,13.9 11.6,6.5 7.4,2.3" fill="#{$question-bg-color}"/></svg>');
    //}
  }
}