@mixin scale_item() {
  margin-right: 4px;
  min-height: 2.4em;
  background: $control-primary-color;
  text-align: center;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &:last-child {
    margin-right: 0;
  }

  &--selected {
    background: $control-active-color;
    color: $question-bg-color;
  }
}

@mixin na_scale {
  display: flex;

  &-item {
    @include scale_item();

    flex: 0 0 auto;
    padding: 0 1em;
  }
}